@import "mixins.less";
@import "variables.less";

@img: "../img";
@page-width: 940px;

body {
	background-color: #f0f1f1;
	font-family: Ubuntu, sans-serif;
}

#top-nav {
	background-color: black;
	height: 70px;

	z-index: 1000;

	top: 0;
	left: 0;
	width: 100%;

	.nav-logo {
		background: url("@{img}/nav-logo.jpg");
		width: 70px;
		height: 70px;
		float: left;
	}

	.nav {
		float: right;
	}

	.nav li {
		line-height: 75px;
		font-size: 16px;

		a {
			padding-top: 0;

			&:hover {
				color: @lime;
			}
		}
	}
}

#welcome-page {
	height: 544px;

	color: black;

	.center {
		height: 544px;
		width: 700px;

		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -544px/2;
		margin-left: -700px/2;
	}

	.lemon-bg {
		background: url("@{img}/logo-bg.png");
		width: 288px;
		height: 288px;

		margin: auto;
		position: relative;

		@lemon-size: 130px;

		img {
			top: 50%;
			left: 50%;
			margin-top: (-@lemon-size / 2);
			margin-left: (-@lemon-size / 2);

			position: absolute;
		}
	}

	.welcome {
		font-size: 72px;
		text-align: center;

		p {
			margin: 0;
			line-height: 1.2em;
			font-weight: 100;
		}

		.welcome-to {
			font-weight:bold;
		}
	}

	.client-login .login-btn {
		display: block;
		background-color: black;
		color: white;

		font-size: 17px;
		font-weight: 100;
		line-height: 50px;
		text-align: center;

		margin: auto;
		margin-top: 30px;

		cursor: pointer;

		.border-radius(5px);
		height: 50px;
		width: 175px;

		border: 2px solid transparent;

		&:hover {
			background-color: @lime;
			color: black;
		}
	}

	.scroll-down {
		background-color: @lime;
		.border-radius(5px);
		padding: 10px;
		width: 14px;
		height: 14px;

		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -34px/2;
	}

	.bottom-bar {
		position: fixed;
		bottom: 0;
		height: 4px;
		color: @lime;
	}
}

#our-work {
	.content {
		background-color: white;
	}

	&.selected .content {
		margin-top: 90px;
	}

	.portfolio-filter-container {
		position: absolute;
		right: -200px;
		width: 200px;
		background-color: black;
	}

	.portfolio {
		list-style: none;
		margin: 0;
		padding: 20px;

		> li {
			width: 400px;
			margin-bottom: 20px;

			.info {
				position: absolute;
				bottom: 0;
				background-color: black;
				width: 90%;
				opacity: .9;
				color: white;
				padding: 5%;
				font-weight: 100;
				display: none;
				z-index: 10;
			
				h2 {
					color: @lime;
					font-weight: 100;
					margin-top: 0;

					.category {
						color: #BEBEBE;
						font-size: 14px;
					}
				}
			}
		}
	}
}